* {
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(61, 61, 61);
}

#con1 {
  width: 500px;
  height: 500px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(61, 61, 61);
}

#con1 > div {
  width: 200px;
  height: 200px;
  background-color: aqua;
  min-width: 200px;
  margin: 20px;
  border: 1px solid rgb(61, 61, 61);
  display: flex;
  justify-content: center;
  align-items: center;
}