* {
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  height: 100vh;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root > ul {
  width: 85vw;
  height: 15vh;
  color: #797575;
  font-size: 1rem;
  font-family: "Kite One", sans-serif;
  font-weight: 600;
  white-space: nowrap;
}
#root > ul > h2 {
  color: #000;
}