* {
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root > div {
  width: 100vw;
  height: 100vh;
}
#root header {
  position: relative;
  background-color: rgb(216, 208, 208);
}
#root header > div:nth-child(1) {
  width: 300px;
  height: 75px;
  margin: 10px;
  background-color: rgb(100, 98, 98);
}
#root .box1-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
}
#root .box1-1 > div {
  width: 200px;
  height: 200px;
  margin-bottom: -170px;
  background-color: #635c5c;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
#root main {
  width: 100vw;
  height: 50vh;
  background-color: rgb(190, 188, 188);
}
#root main > div {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}
#root main > div > div {
  width: 300px;
  height: 300px;
}
#root main > div > div:nth-child(1) {
  background-color: rgb(231, 224, 224);
  z-index: 6;
  margin-left: -70vw;
  margin-top: 20px;
}
#root main > div > div:nth-child(2) {
  background-color: rgb(143, 141, 138);
  z-index: 5;
  margin-left: -250px;
  margin-top: 40px;
}
#root main > div > div:nth-child(3) {
  background-color: rgb(44, 46, 46);
  z-index: 4;
  margin-left: -250px;
  margin-top: 60px;
}
#root footer > div:nth-child(1) {
  width: 100vw;
  height: 30vh;
  background-color: rgb(167, 167, 167);
  display: flex;
  justify-content: center;
  align-items: center;
}
#root footer > div:nth-child(1) > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
#root footer > div:nth-child(1) > div > div {
  width: 200px;
  height: 150px;
  background-color: #dad5d5;
}
#root footer > div:nth-child(1) > div > div > div {
  width: 200px;
  height: 30px;
}
#root .box1 {
  background-color: rgb(150, 150, 150);
  border: 1px solid black;
}
#root .box2 {
  background-color: rgb(58, 40, 40);
  z-index: 1;
  margin-left: -50px;
  margin-top: 30px;
  border: 1px solid black;
}
#root footer > div:nth-child(2) {
  width: 100vw;
  height: 10vh;
  background-color: rgb(73, 67, 67);
  display: flex;
  justify-content: center;
  align-items: center;
}
#root footer > div:nth-child(1) > div {
  width: 500px;
  height: 250px;
  margin: 70px;
  background-color: #6e6464;
}
#root footer > div:nth-child(2) > div {
  width: 450px;
  height: 70px;
  margin: 70px;
  background-color: rgb(226, 208, 208);
}